.header {
  background-image: url(../images/header-2x.png);
  background-size: cover;
  background-position: center;

  &__title {
    margin: 129px auto 0;
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.5px;
    text-align: center;

    @include on-tablet {
      font-size: 64px;
      margin: 140 auto 0;
    }

    @include on-desktop {
      margin: 83 auto 0;
    }
  }

  &__content {
    display: flex;
    height: 100vh;
    flex-direction: column;

    // justify-content: space-between;

    @include on-tablet {
      // padding-bottom: 64px;
    }
  }
}
