.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  position: relative;
  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icon-phone-menu.png);
    &:hover {
      transform: scale(1.2);
    }
  }
  &--menu {
    background-image: url(../images/icon-burger-menu.png);
    &:hover {
      background-image: url(../images/icon-hover.png);
      transform: scale(1.2);
    }
  }
  &--close {
    background-image: url(../images/icon-close.png);
  }
}

.contact {
  position: relative;
  display: inline-flex;
  align-items: center;

&__text {
  position: absolute;
  right: 100%;
  white-space: nowrap;

  opacity: 0;
  transform: translateX(-10px);
  transition: 0.3s ease;
}

&:hover .contact__text {
  opacity: 1;
  transform: translateX(0);
}
}
