.section-title {
  margin: 0;
  margin-bottom: 100px;
  color: black;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;

  @include onTablet {
    font-size: 48px;
    margin-bottom: 140px;
  }

  @include onDesktop {
    font-size: 48px;
    margin-bottom: 138px;
  }

  &--align--left {
    text-align: left;
  }

  &--align--center {
    text-align: center;
  }

  .subtitle {
    font-family: $font-family;
    color: $color;
    font-size: 12px;
    font-style: $font-style;
    font-weight: $font-weight;
  }
}
